.footer {
  background-color: #800000;;
  color: gold;
  padding: 5px 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}


@media (max-width: 768px) {
  .footer {
    font-size: 14px;
  }
}
